## ASP.NET Core specific
wwwroot/lib/
**/node_modules/
**/wwwroot/dist/

## User-specific files
*.rsuser
*.user
*.userosscache
*.suo
*.userprefs
*.dst
*.cache
*.csproj.user
*.vbproj.user
*.vcxproj.user
*.vcxproj.filters
*.ide/
.vs/
.vscode/
*.ncrunch*
*.nCrunch*
*NReSharper*
*ReSharper*
*._ReSharper_*
*.TeamCity*
*.DotSettings
*.dotCover

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Tt]est[Rr]esult*/
*.VisualState.xml
TestResult.xml
nunit-*.xml

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json
*.pfx
*.cert
*.key
*.csr
*.p12
*.pubxml
*.publishsettings
orleans.codegen.cs

## ASP.NET Scaffolding
ScaffoldingReadMe.txt

## Others
*.swp
*.*~
*.bak
*.tmp
*~$*
._*
*.dbmdl
*.jfm
*.db
*.mdf
*.ldf
*.sqlite
*.sqlite3
*.sqlitedb
efmigrationhistory
*.pgsql
*.postgres
*.postgre
.DS_Store
*.kpf
*.xmind
*.iml
.idea/
*.iws
*.bk
