@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br>
<h2>Privacy Policy for Sohaib Soussi's Buy and Sell Horses</h2>

<p>At Sohaib Soussi's Buy and Sell Horses, accessible from our main website,
one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types
of information that are collected and recorded by our service and how we use it.</p>

<h3>Information We Collect</h3>

<p>We only collect personal information that is relevant to the purpose of our website.
This includes but is not limited to your name, email address,
and contact information when you engage in transactions on our site.</p>

<h3>Use of Information</h3>

<p>Any information we collect from you may be used to personalize your experience,
improve our website, and facilitate transactions. We do not sell, trade,
or otherwise transfer your personally identifiable information to outside parties.</p>

<h3>Data Security</h3>

<p>We implement a variety of security measures to maintain the safety of your personal information
when you enter, submit, or access your personal information.</p>

<h3>Your Consent</h3>

<p>By using our site, you consent to our website's privacy policy.</p>

<h3>Changes to Our Privacy Policy</h3>

<p>
    Should we decide to change our privacy policy, we will post those changes on this page.
</p>

<h3>Contact Us</h3>

<p>If you have any questions about this Privacy Policy, you can contact us at: sohaibsoussi@gmail.com</p>

Last updated: 02/02/2024
