@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr />
<div class="background-image"></div>
<div class="overlay"></div>

<div class="form-container">
    <div class="card">
        <div class="card-body">
            <form method="post">
                <h2 class="mb-4 text-center">Reset Password</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" placeholder="Email" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-lg btn-primary">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
